@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --primary-color: #fddc1f;
    --secondary-color: red;
    --third-color: #218373;
}

#smurfs_body {
    margin: 0px;
    font-family: 'Pangolin', cursive;
}

.smurf_header {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 10px solid var(--secondary-color);
    box-sizing: border-box;
}

.heading-smurf {
    margin: 0px;
    padding: 1rem;
}

.container {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.background {
    background-image: url(https://i.pinimg.com/originals/90/a8/58/90a8589ddfd4bcaf252cb5ce77b927bd.jpg);
    padding: 3rem 0px;
}

.smurfs_footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 10px solid var(--secondary-color);
}

h2, h1 {
    color: var(--third-color);
    text-align: center;
}

.txt_input {
    border: 5px solid var(--secondary-color);
    width: 500px;
    height: 100px;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Pangolin', cursive;
}

.translate_txt {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    margin: 1rem 0px;
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    cursor: pointer;
    font-family: 'Pangolin', cursive;
    font-weight: bold;
}

.txt_output {
    background-color: white;
}

@media screen and (max-width: 700px) {
    .txt_input, .txt_output, .container {
        max-width: 90%;
        margin: auto;
    }
    .background {
        padding: 2rem 0px;
    }
}

.paragraph-footer {
    max-width: 80%;
    margin: auto;
    text-align: justify;
}